################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SportsStore.WebUI/bin
/SportsStore.WebUI/obj/Debug
/SportStore.Domain/obj/Debug
/SportStore.WebUI/bin
/SportStore.WebUI/obj/Debug
/packages/EntityFramework.6.2.0/tools
/packages/EntityFramework.6.2.0/lib/net45
/packages/EntityFramework.6.2.0/lib/net40
/packages/EntityFramework.6.2.0/content/net40
/packages/bootstrap.3.0.0/content
/packages/jQuery.1.10.2/Content/Scripts
/packages/jQuery.1.10.2/Tools
/packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45
/packages/Microsoft.AspNet.Mvc.5.2.3/Content
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45
/packages/Microsoft.AspNet.Razor.3.0.0/lib/net45
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45
/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45
/packages/Microsoft.AspNet.WebPages.3.2.3/Content
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools
/packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
/packages/Microsoft.Net.Compilers.1.0.0/build
/packages/Microsoft.Net.Compilers.1.0.0/tools
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40
/packages/Modernizr.2.6.2/Tools
/packages/Modernizr.2.6.2/Content/Scripts
/packages/Moq.4.1.1309.1617/lib
/packages/Ninject.3.0.1.10/lib
/packages/Ninject.MVC3.3.0.0.6/lib
/packages/Ninject.Web.Common.3.0.0.7/lib
/packages/Ninject.Web.Common.3.0.0.7/Content/App_Start
/packages/WebActivator.1.5/lib/net40
/SportsStore.Domain/bin/Debug
/SportsStore.Domain/obj/Debug
/SportsStore.UnitTests/bin/Debug
/SportsStore.UnitTests/obj/Debug
/packages
/mails
/.sonarqube
/Nowy folder
/SportsStore.WebUI/obj/Release
/SportsStore.UnitTests/obj/Release
/SportsStore.UnitTests/bin/Release
/SportsStore.Domain/obj/Release
/SportsStore.Domain/bin/Release
